APP_NAME="PRIME Apps Klinik Utama Mata"
APP_ENV=local
APP_URL=http://localhost/prime-backend/public
FRONTEND_URL=http://localhost:5173
JWT_SECRET=change_this_secret_key

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=prime_apps
DB_USER=root
DB_PASS=

UPLOAD_MAX_SIZE=5242880
